In [1]:
#시작 전 설정
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline 
%config InlineBackend.figure_format='retina'
import pandas as pd
import numpy as np
#원하는 한글폰트 지정
plt.rc("font",family="Malgun Gothic")
plt.rc("axes",unicode_minus=False) #Y축
#경고메세지 안보이게
import warnings
warnings.filterwarnings(action='ignore')
import seaborn as sns

In [23]:
data=pd.read_csv('E:/kim_jiwon/src/Project_02/data/2)여행지수_20200921.csv',sep=',',encoding='utf-8')
data

,dt,sido_cd,sido_nm,home_sido_cd,home_sido_nm,age_cd,sex_cd,cnt_aprx
0,20190805,36,세종특별자치시,NaN,NaN,NaN,NaN,71455
1,20190805,26,부산광역시,NaN,NaN,60,NaN,48673
2,20190805,29,광주광역시,NaN,NaN,30,NaN,36233
3,20190805,29,광주광역시,NaN,NaN,60,NaN,20192
4,20190805,43,충청북도,NaN,NaN,0,NaN,14733
...,...,...,...,...,...,...,...,...
27266,20200914,42,강원도,43,충청북도,NaN,NaN,25619
27267,20200914,42,강원도,48,경상남도,NaN,NaN,9249
27268,20200914,50,제주특별자치도,43,충청북도,NaN,NaN,5591
27269,20200914,50,제주특별자치도,48,경상남도,NaN,NaN,11463
27270,20200914,43,충청북도,11,서울특별시,NaN,NaN,137640

In [24]:
data["year"]= data["dt"].apply(lambda x:x[0:4])
data["month"]= data["dt"].apply(lambda x:x[4:6])
data["date"]= data["dt"].apply(lambda x:x[6:8])

In [25]:
data

,dt,sido_cd,sido_nm,home_sido_cd,home_sido_nm,age_cd,sex_cd,cnt_aprx,year,month,date
0,20190805,36,세종특별자치시,NaN,NaN,NaN,NaN,71455,2019,08,05
1,20190805,26,부산광역시,NaN,NaN,60,NaN,48673,2019,08,05
2,20190805,29,광주광역시,NaN,NaN,30,NaN,36233,2019,08,05
3,20190805,29,광주광역시,NaN,NaN,60,NaN,20192,2019,08,05
4,20190805,43,충청북도,NaN,NaN,0,NaN,14733,2019,08,05
...,...,...,...,...,...,...,...,...,...,...,...
27266,20200914,42,강원도,43,충청북도,NaN,NaN,25619,2020,09,14
27267,20200914,42,강원도,48,경상남도,NaN,NaN,9249,2020,09,14
27268,20200914,50,제주특별자치도,43,충청북도,NaN,NaN,5591,2020,09,14
27269,20200914,50,제주특별자치도,48,경상남도,NaN,NaN,11463,2020,09,14
27270,20200914,43,충청북도,11,서울특별시,NaN,NaN,137640,2020,09,14

In [30]:
sido_nm으로의 여행이/년도월별로/어떻게 변하는지.

SyntaxError: invalid syntax (<ipython-input-30-d0ca76a07207>, line 1)

In [47]:
clear=data[['year','month','sido_nm','dt']]
clear.groupby('sido_nm').count()

         year  month    dt
sido_nm
sido_nm     1      1     1
강원도      1624   1624  1624
경기도      1628   1628  1628
경상남도     1617   1617  1617
경상북도     1642   1642  1642
광주광역시    1593   1593  1593
대구광역시    1593   1593  1593
대전광역시    1534   1534  1534
부산광역시    1593   1593  1593
서울특별시    1593   1593  1593
세종특별자치시  1534   1534  1534
울산광역시    1593   1593  1593
인천광역시    1630   1630  1630
전라남도     1639   1639  1639
전라북도     1600   1600  1600
제주특별자치도  1593   1593  1593
충청남도     1604   1604  1604
충청북도     1601   1601  1601

In [40]:
data.groupby(['sido_nm', 'year','month']).count()

                     dt  sido_cd  home_sido_cd  home_sido_nm  age_cd  sex_cd  \
sido_nm year month
sido_nm dt            1        1             1             1       1       1
강원도     2019 08     109      109            65            65      32       8
             09     138      138            83            83      40      10
             10     112      112            68            68      32       8
             11     110      110            66            66      32       8
...                 ...      ...           ...           ...     ...     ...
충청북도    2020 05     108      108            64            64      32       8
             06     135      135            80            80      40      10
             07     108      108            64            64      32       8
             08     136      136            81            81      40      10
             09      54       54            32            32      16       4

                    cnt_aprx  date
sido_nm year month
sido_nm dt                 1     1
강원도     2019 08          109   109
             09          138   138
             10          112   112
             11          110   110
...                      ...   ...
충청북도    2020 05          108   108
             06          135   135
             07          108   108
             08          136   136
             09           54    54

[239 rows x 8 columns]

In [28]:
sns.pointplot(x="year", y="sido_cd", hue="sido_nm", data=data)

TypeError: Neither the `x` nor `y` variable appears to be numeric.

In [ ]:

sns.pointplot(x="연도월", y="소비자물가지수", hue="지출목적별", data=cpi3)
data.pivot_table(index='연도월',columns='지출목적별',values='소비자물가지수').plot(figsize=(16,8))